@charset "utf-8";

p {
	text-align: center;
}

object {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#SpecifInfo {
	width: 512px;
	height: 560px;
	word-break: break-all;
	border: 4px solid black;
	pointer-events: none;
	display: none;
	position: absolute;
	background: gray;
	overflow: hidden;
	z-index: 1;
}

#Line {
	width: 1920px;
	height: 1920px;
}

#Line line {
	stroke-width: 12px;
}

#EventCMN {
	width: 250px;
	height: 155px;
}

#EventCMN rect {
	width: 240px;
	height: 100px;
	stroke-width: 6px;
}

.PerfactFreedom {
	position: absolute;
	top: 150px;
	left: 150px;
}

.InternalSolution {
	position: absolute;
	top: 350px;
	left: 0px;
}

.RepairWork {
	position: absolute;
	top: 550px;
	left: 0px;
}

.AER {
	position: absolute;
	top: 750px;
	left: 0px;
}

.ResourceSecure {
	position: absolute;
	top: 350px;
	left: 300px;
}

.Promotion {
	position: absolute;
	top: 550px;
	left: 300px;
}

.LostProject {
	position: absolute;
	top: 150px;
	left: 900px;
}

.Play {
	position: absolute;
	top: 350px;
	left: 600px;
}

.Technic {
	position: absolute;
	top: 350px;
	left: 900px;
}

.Art {
	position: absolute;
	top: 350px;
	left: 1200px;
}

.Absolute {
	position: absolute;
	top: 550px;
	left: 600px;
}