@charset "utf-8";

#Base{
	margin : 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

#Base .Sup{
	display :table;
}

#Base .MainMenu{
	height : 100px;
	width : 100px;
	
	text-align : center;
	font-size: 20px;
	position : relative;
	display :block;
	float: left;
	background: yellow;
}

#Base .MainMenu a{
	text-decoration: none;
}

#Base .MainMenu:hover{
	background: blue;
}