@charset "utf-8";

div.FullBoard {
	border: black solid;
}

div.Menu {
	border: black solid;
	display: inline-block;
	padding: 10px;
	background: silver;
}

summary.Big {
	font-size: 32px;
}

.imgSet {
	width: 25%;
	height: 25%;
}

.imgSet:hover {
	width: 50%;
	height: 50%;
}

p.Reedim {
	font-size: 16px;
	font-style: italic;
	text-align: center;
}